<h1 class="display-2">Eat Da Burger!</h1>

<h2 >Burgers That Are Ready to be Eaten</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten.</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Let's Make Some Burgers!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burge" name="name">
  </div>

  <button type="submit" class="submutbtn">Add Burger!</button>
</form>
