body{
  background-image: url("../img/burgerbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
color: #ee851c;

}

h2{
  color:#ffcc98;
}
li {
    padding: 5px;
    margin: 5px;
    color: #ee851c;
  }
  
  .label {
    font-weight: bold;
    color: white;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    color: #ee851c;
  }
  .form-group {
    margin-bottom: 5px;
  }

 #button {
    color:#792B1C;
    background-color: #FFCD98;
  }